<p>Am kommenden <b>{{date}}</b> findet ab <b>{{time}} Uhr</b> unser nächster Talk statt:</p>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;{{summary}}</h3>
<p>Ort: {{location}}</p>
<p>
  Alle weiteren Infos zum Talk, wie z.B. Abstract, Speaker-Info und Anmeldung, gibt's wie immer auf unserer Website:<br/>
  <a href="{{url}}">{{url}}</a>
</p>
<p>
  Alle unsere Veranstaltungen bequem per iCal abonnieren: <a href="https://www.jug-da.de/events.ics">hier klicken</a>
</p>
<p>
  Wir freuen uns auf Euer zahlreiches Kommen!<br/><br/>
  Viele Grüße,<br/>
  Euer JUG DA Orga-Team
</p>
<p>
  <small><i>Eine Veranstaltung des iJUG e.V., organisiert durch die JUG Darmstadt.</i></small>
</p>
